.slideshow-parent-container {
  width: 100%;
}

.slideshow-child-container {
  width: 0%;
}

.slideshow-img-container>img {
  margin-top: 30px;
  height: 100%;
}

.slideshow-img-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  height: 500px;
}

.slick-arrow,
.slick-prev:before,
.slick-next:before {
  color: blue;
}